@page "/"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-16 text-center">
    <MudPaper Elevation="0" Class="pa-8" Style="background-color: transparent;">
        <MudText Typo="Typo.h2" Color="Color.Primary" Class="mb-4"><b>Bienvenido a Dev Network</b></MudText>
        <MudText Typo="Typo.h5" Color="Color.Secondary" Class="mb-8">El espacio perfecto para conectar y colaborar con otros desarrolladores.</MudText>
        
        <div class="d-flex justify-center gap-4">
            <MudButton Href="/projects" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" StartIcon="@Icons.Material.Filled.Radar">
                Radar de Proyectos
            </MudButton>
            <MudButton Href="/threads" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" StartIcon="@Icons.Material.Filled.Code">
                Muro de Código
            </MudButton>
        </div>
    </MudPaper>
</MudContainer>
